@charset "UTF-8";
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	font-family: 'KoPubDotumMedium';
}
body {
	background: linear-gradient(to right, #C165DD, #5C27FE);
}
.mainColor{
	background-color: #7244FE;
}
.wrapper {
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
    max-width: 600px;
}
.text-center{
	text-align: center;
}
.right{
	float: right;
	margin-right: 10px;
}
.center{
	margin: 0 auto;
	text-align: center;
	align-content: center;
}
/* -------- 추가 -------- */
.sm_msg{
	color: #7f7c82;
	font-size: x-small;
	margin-bottom: 7px;
}
.inline{
	display:inline-block;
}
h5{
	font-size: 1.2em;
	font-weight: bold;
}
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color:#7f7c82;
	font-size: 1em;
	width: 70px;
	height: 33px;
	border-radius: 30px;
	border: 0.01em solid #7f7c82;
	text-align: center;
}
select:hover{
	border:0.01em solid #7244FE;
}
input[type=text], input[type=password]{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	font-size: 1em;
	height: 33px;
	border-radius: 30px;
	text-align: center;
	border: 0.01em solid #7f7c82;
}
input[type=text]:hover, input[type=password]:hover, input[type=text]:focus, input[type=password]:focus{
	border:0.01em solid #7244FE;
}
#year{
	width: 100px;
}
.gender{
	width: 300px;
	height: 33px;
	font-size: 1em;
}
#company{
	width: 80px;
}
label, .date{
	font-size: 1em;
}
.row{
	justify-content: space-around;
}
button:hover{
	color: #7244FE;
	background-color: transparent;
}
.box {
	width: 750px;
	height: 1000px;
	padding: 50px;
	margin: 100px auto;
	border-radius: 10px;
	background-color: white;
	box-shadow: 5px 5px 20px;
}
.box2 {
	width: 500px;
	height: 500px;
	padding: 50px;
	margin: 100px auto;
	border-radius: 10px;
	background-color: white;
	box-shadow: 5px 5px 20px;
}
#resultPageLogo {
	margin: 50px auto;
	width: 30%;
	display: block;
}
.resultBox h2, a {
		text-align: center;
		margin: 50px auto;
}
.resultBox a {
	margin: 10px auto;
	width: 300px;
	display: block;
}