:root{
    --bs-primary: #7244FE;
}
hr{
    margin:	1rem 5em;
    border: 1px solid #7244FE;
    opacity: 100%;
}
h4{
    font-weight: 700;
}
a{
    text-decoration: none;
}
.col-md-4{
  padding-left: 0px;
  padding-right: 0px;
}
.bg-primary{
    background-color: #7244FE;
}
.bg-second-color{
    background-color: #c165dd
}
.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 2rem; /* 0.25rem;  */
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0s ease-in-out, box-shadow 0 ease-in-out;
}
.btn-check:focus + .btn, .btn:focus {
	outline: 0;
	box-shadow: 0;
  }
.btn-check:focus + btn-primary, .btn-primary:focus{
	background-color: #7244FE;
	border-color: #7244FE;
	box-shadow: 0;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle{
	background-color: #7244FE;
	border-color: #7244FE;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0;
}
.btn-group{
    margin: 0 auto;
}
.btn-primary {
    color: #fff;
    background-color: #7244FE; /* #0d6efd; */
    border-color: #7244FE; /* #0d6efd; */
}
.btn-primary:hover, .btn-primary:focus{
    color: #7f7c82;
    background-color: #d0c1ff;
    border-color: #d0c1ff;
    box-shadow: 0;
}
.btn-outline-primary {
    color: #7244FE;
    border: 0.01em solid #7244FE;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #7244FE;
}
.btn-check:checked + .btn-outline-primary, .btn-check:active + .btn-outline-primary, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show {
    color: #fff;
    background-color: #7244FE;
    border-color: #7244FE;
  }
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0;
}
.btn-check:checked + .btn-outline-primary:focus, .btn-check:active + .btn-outline-primary:focus, .btn-outline-primary:active:focus, .btn-outline-primary.active:focus, .btn-outline-primary.dropdown-toggle.show:focus {
    box-shadow: 0;
}
.btn-outline-primary:disabled, .btn-outline-primary.disabled {
    color: #7244FE;
    background-color: transparent;
  }
.btn-sm{
    width: 90px;
    height: 33px;
    font-weight: 400;
}
.btn-sm > .btn {
    padding: 0.375rem 0.5rem;
    font-size: 1rem;
    border-radius: 1rem;
}
.btn-new {
    color: #fff;
    background-color: #7244FE;
    border-color: #7244FE;
}
.rank{
    display: inline;
    border-radius: 0.25rem;
    background-color: #7244FE;
}
.badge {
    display: inline-block;
    padding: 0.35em 0.65em;
    font-size: 0.75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.hashtag{
    margin-bottom: 10px;
    font-size: 0.90em;
    font-weight: 300;
    color: #7244FE;
}
.main-thumbnail-part{
    background-color: #f3f1f5;
    border-radius: 30px;
    margin: 2em 10em 20em 10em;
    padding: 2.5em;
}
.main-thumbnail-box{
    margin: 3px;
    padding: 0.75em;
    background-color: #e8e0ff;
    border-radius: 20px;
}
.main-thumbnail-box:hover{
    color: #fff;
    background: linear-gradient(to right, #c165dd, #5c27fe);
    box-shadow: 1px 1px 5px #7f7c82;
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #7244FE;
    border-color: #7244FE;
  }
.main-thumbnail-box:hover .hashtag,
.main-thumbnail-box:hover .btn-outline-primary
.main-thumbnail-box:hover .rounded-pill{
    color: #fff;
    background-color: transperent;
    border-color: #fff;
}
.main-thumbnail-box .rank{
    margin-bottom: 10px;
}
.main-thumbnail-box:hover .hashtag:hover{
    color: #7244FE;
    background-color: #fff;
    border-color: #7244FE;
}
.main-thumbnail-description{
    padding: 10px;
    text-align: left;
    height: 210px;
}
.rounded-pill{
    background-color: #c165dd;
    border-radius: 50rem !important;
}
.rounded-outline-pill{
    background-color: transparent;
    border: 1.5px solid #7244FE;
    border-radius: 50rem !important;
}
.right{
    float: right;
    margin-right: 10px;
}
.center{
    margin: 0 auto;
    text-align: center;
}
.main-thumbnail-img{
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    float: left;
    border-radius: 10px;
}
.inner{
    box-shadow: 0px -0.5px 50px #7244FE;
    background-color: #f3f1f5;
    padding: 2em;
}
.copyright, .designed-by, .footer-logo{
    font-size: 0.75rem;
    line-height: 2;
}
.title{
    margin-bottom: 20px;
}
.col-xs-2{
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}
.footer-logo{
    float: right;
    opacity: 50%;
}
/* 슬라이드 이미지, nav 관련 css 부분 */
@font-face {
    font-family: 'KoPubDotumMedium';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/KoPubDotumMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
	font-family: 'KoPubDotumMedium';		
}
.carousel {
	margin-top: 60px;
	width: 100%;
}
.carousel-item:before {
	content:'';
	background: linear-gradient(to top, black, transparent);
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
}
.carousel-item h5, p {
	color: white;
}